@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Product Sans", sans-serif;
}

@font-face {
  src: url("../fonts/ProductSans-Black.woff");
  src: url("../fonts/ProductSans-Bold-1.woff");
  src: url("../fonts/ProductSans-Bold.woff");
  src: url("../fonts/ProductSans-Light.woff");
  src: url("../fonts/ProductSans-Medium-1.woff");
  src: url("../fonts/ProductSans-Medium.woff");
  src: url("../fonts/ProductSans-Regular-1.woff");
  src: url("../fonts/ProductSans-Regular.woff");
  src: url("../fonts/ProductSans-Thin-1.woff");
  src: url("../fonts/ProductSans-Thin.woff");
  font-family: ProductSans;
}

@layer components {
  .container-page {
    @apply mx-auto max-w-[1400px];
  }
}

/* Carousel from Detail Categories Page */
.slick-dots {
  bottom: 1rem !important;
}

.slick-dots li.slick-active button:before {
  color: #fcab16 !important;
}

.slick-dots li button:before {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  opacity: .8;
}
